<!DOCTYPE html>
<html>
<head>
    <title>Tagged Items</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Tagged Items</h1>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Related Object</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
                {% for content_object, tags in grouped_tagged_items.items %}
                    <tr>
                        <td>{{ content_object }}</td>
                        <td>{{ tags }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
