<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Form</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Bootstrap Datepicker CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <style>
        .form-container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            background-color: #f7f7f7;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .form-header {
            margin-bottom: 20px;
        }
        .form-control:focus {
            border-color: #007bff;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }
        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
        .c{
            color: #007bff;
        }
        .input-group-text {
            cursor: pointer;
        }
        .form-group {
            display: flex;
            align-items: center;
        }
        .form-group label {
            flex: 1;
            margin-bottom: 0;
        }
        .form-group .form-control {
            flex: 2;
        }
        .form-group .input-group {
            flex: 2;
        }
    
    </style>
</head>
<body>
    {% if form %}
    <div class="container mt-5">
        <div class="form-container">
            <h1 class="form-header text-center text-primary">Customer Form</h1>
            <form method="POST" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_First_name">{{ form.First_name.label }}</label>
                    {{ form.First_name }}
                    {% for error in form.First_name.errors %}
                        <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="id_Last_name">{{ form.Last_name.label }}</label>
                    {{ form.Last_name }}
                    {% for error in form.Last_name.errors %}
                        <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="id_phone">{{ form.phone.label }}</label>
                    {{ form.phone }}
                    {% for error in form.phone.errors %}
                        <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="id_Email">{{ form.Email.label }}</label>
                    {{ form.Email }}
                    {% for error in form.Email.errors %}
                        <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="id_birth_date">{{ form.birth_date.label }}</label>
                    {{ form.birth_date }}
                    {% for error in form.birth_date.errors %}
                        <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="id_membership">{{ form.membership.label }}</label>
                    {{ form.membership }}
                    {% for error in form.membership.errors %}
                        <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="id_points">{{ form.points.label }}</label>
                    {{ form.points }}
                    {% for error in form.points.errors %}
                        <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="id_password">{{ form.password.label }}</label>
                    <div class="input-group">
                        {{ form.password }}
                        <div class="input-group-append">
                            <!-- <span class="input-group-text" onclick="togglePasswordVisibility()">
                                <i class="fa fa-eye" id="toggleEyeIcon"></i>
                            </span> -->
                        </div>
                    </div>
                    {% for error in form.password.errors %}
                        <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
    {% endif %}

    <!-- Customer Record -->


    {% if Customers %}
    <div class="container">
        <div class="container pt-3">
          <div class="alert alert-danger mt-4 text-center" role="alert">
            Customer Information Detail
        </div>
        <div class="search-container mt-4 mb-2">
            <form method="GET" action="">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search" value="{{ C }}">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
                
            </form>
        </div>
        <table class="table table-bordered border-danger table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
              <th scope="col">Birth Date</th>
              <th scope="col">Membership</th>
              <th scope="col">Points</th>
              <th scope="col">Actions</th> 
            </tr>
          </thead>
          <tbody>
            
            {% for customer in Customers %}
            <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ customer.First_name }}</td>
                    <td>{{ customer.Last_name }}</td>
                    <td>{{ customer.phone }}</td>
                    <td>{{ customer.Email }}</td>
                    <td>{{ customer.birth_date }}</td>
                    <td>{{ customer.membership }}</td>
                    <td>{{ customer.points }}</td>
                
              <td>
               <div class="d-inline">
                <a href="{% url "edit" customer.id %}" class="btn btn-primary d-inline">Edit</a>
                <form action="{% url 'delete' customer.id %}" class="d-inline">
                  <input class="btn btn-danger" type="submit" value="Delete">
                </form>
               </div>
              </td>
            </tr>
    
            {% endfor %}
    
            
          </tbody>
        </table>
    
      </div>
    </div>
    {% endif %}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap Datepicker JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <!-- Font Awesome for eye icon -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            todayHighlight: true
        });
    });

    function togglePasswordVisibility() {
        var passwordField = document.getElementById('id_password');
        var toggleEyeIcon = document.getElementById('toggleEyeIcon');
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            toggleEyeIcon.classList.remove('fa-eye');
            toggleEyeIcon.classList.add('fa-eye-slash');
        } else {
            passwordField.type = 'password';
            toggleEyeIcon.classList.remove('fa-eye-slash');
            toggleEyeIcon.classList.add('fa-eye');
        }
    }
    </script>
</body>
</html>
